
body {

font-family: 'Abel', sans-serif;
background-color: white;

}

main {
	
padding-bottom: 5em;
}

ul li {
	
list-style: none;
height: 60px;
text-align: left;
text-transform: uppercase;
transition: 0.5s;
font-size: 1.5em;
padding-top: 3em;



}

a {
 
  transition: all 0.5s;
  color: white;
  font-weight: bold;
	
}

a:hover {
  opacity: 0.75;
color: #0477BE;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}



nav {
  display: inline-block;
  position: absolute;
  left: -100%;
  top: 2.0em;
  height: 50%;
  background: #0477BE;
  min-height: 100vh;
  width: 85%;
  max-width: 18em;
 transition: left 0.7s ease;
overflow: auto;
z-index: 4;
margin-top: 1.2em;
}

nav ul {
    display: block;
    margin: 1em;
	margin-bottom: 2em;
	
	
	
}

nav li {
  display: block;
 
  
  
  
}

main { 
margin-top: 2em;
height: 100%;

}

h1{

text-align: center;
font-size: 3em;
color: #0477BE;
font-weight: 600;
padding-top: 3em;
padding-bottom: 3em;
letter-spacing: 10px;
	
}


h2 {
    
padding-bottom: 5%;
font-size: 2vw;

    
    
}


h3 {
    color: #FFFFFF;
    font-size: 1.2vw;
    padding-top: 2%;
padding-left: 25%;
    top: 80%;
    
    

}

h5 {

font-weight: 600;
font-size: 150%;
text-transform: capitalize;
letter-spacing: 4px;
position: absolute;
top: 65%;
left: 30%;
color: #FFFFFF;
text-align: left;


	
}


h6 {

color: white;
font-weight: 800;
font-size: 3vw;
text-transform: capitalize;
letter-spacing: 2px;
letter-spacing: 5px;

}


footer {
	

    overflow: hidden;
	z-index: 3;
	position: relative;
    height: 30em;
    width: 70%;
    float: right;
   
	
	

}



.footer-image {
    
position: absolute;
width: 100%;
height: auto;
left: 20%;



}


.directions-text{
    
align-content: center;
text-align: center;
}


.logo-row {
    
position: relative;
height: 50vw;
    
    
}


.phaseonelogo{
	
width: 40em;

	
}

.Title{
	
padding-top: 17em;
position: absolute;
left: 50em;

}


.portraits {
	
padding-top: 2em;
padding-bottom: 2em;

}

.portrait-container{
	
	position: relative;
    text-align: center;
    padding-top: 1em;
	padding-bottom: 1em;
}

.student-photos:hover{   
opacity: 0.5;
cursor: pointer;
}



.nav-toggle {
  cursor: pointer;
  position: absolute;
  top: 1em;
  left: 3em;
z-index: 0;


}

.intro {
 
  font-size:5em;
  z-index:-1;
}

.slideshow{
	
position: relative;

	
	
}

.nav-toggle:hover {
	
opacity: 0.5;
}

.nav-active nav {
    left: 0em;
	display: inline;
	float: left;
	
	
	
}


.menulogo{

position: absolute;
margin: 1em;
padding: 1em;
top: -19%;
left: 0%;



	
}

.video-container {

    
left: 5%;    
position: absolute;

    

}


.introvideo {
    
width: 120%;
overflow: hidden;
height: 50%
}


.logo-text {
    
right: 23%;
position: absolute;   
top: 32%;

}


.topnav {
    background-color: #0477BE;
    overflow: hidden;
	z-index: 3;
     box-shadow: 0 1px 6px 3px #2A2A2A;
	
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 17px;
	z-index: 1;
	
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
	z-index: 1;
	
	
}
                                                     

.VenueText{
	
position: absolute;
z-index: 1;
left: 15%;
top: 25%;
font-size: 1em;
height: 1em;
}


.venue-bar{
    
width: 55vw;
height: 8vw;
background-color: rgba(0,0,0, 0.5);
position: absolute;
z-index: 1;
left: 0%;
top: 35vw;



}

.VenueText2{
	
position: absolute;
z-index: 1;
left: 20%;
top: 50%;
font-size: 1em;

color: #FFFFFF;

}


.phaseone{

	
margin-left:  8em;
display: inline-block;



}


.order{
	
position: relative;
}

.navlist {
 
position: relative;
  list-style-type: none;
  margin: 3em;
  margin-top: 5em;
}



/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  max-height:700px;
  
  top:5em;

  position: relative;
  background-color: white;
  border: solid 5px black;
  margin: auto;
 

}

.slideshow-container2 {

max-width: 100%;


position: relative;
background-color: white;
text-align: center;
 margin: auto;

}



/*Slides*/
.mySlides {
   max-width: 1000px;
  max-height:700px;
  background-size: contain;
}

.MySlides2{
	
   max-width: 1500px;
  max-height:1000px;
  

}

.slides {
    
width: 100%;
height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev  {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  bottom: 0;
  margin: 0 2px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  transition: background-color 0.6s ease;
  transform:translateY(-30px);
}

.active, .dot:hover {
  background-color: #0477BE;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Modal */
.modal {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 100%;
    height:95vh;
    max-width: 100%;
    max-height: 95vh;
    overflow: auto;
    padding: 2em 1em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#modal-active {
    opacity: 1;
    top: 55%;
}
.close-modal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5em;
    cursor: pointer;
}

.contact {
  position:relative;
float: right;
font-size: .8em;
padding: 0 1em 3em 1em;
}


.contact img{
width:30px;
height: 30px;
margin:0;

}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
  }

.info {
  max-width: 40%;
  font-size: .8em;
  float: left;
  padding-top: 5em;
}


  .contact a{
    
  color: #4a4a4a;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: all 0.5s;
  font-size:.6em;

  }





.Sponsors {
	
padding: 3em;

	

}












@media (min-width:700px) {
/* Slideshow container */
.slideshow-container {
 max-width: 1000px;
  max-height:700px;
  float:right;
  top:-25em;
  position: relative;
  background-color: white;
  border: solid 5px black;
  margin: auto;
 

}



/*Slides*/
.mySlides {
   max-width: 1000px;
  max-height:700px;
  background-size: contain;
}

.MySlides2{
  
   max-width: 100%;
  max-height:1000px;
  background-size: contain; 

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev  {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  bottom: 0;
  margin: 0 2px;
  background-color: white;
  
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0477BE;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Modal */
.modal {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 100%;
    height:95vh;
    max-width: 100%;
    max-height: 95vh;
    overflow: auto;
    padding: 2em 1em;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#modal-active {
    opacity: 1;
    top: 55%;
}
.close-modal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5em;
    cursor: pointer;
}

.info {
  max-width: 40%;
  font-size: .8em;
  float: bottom;
}
.contact {
  position:relative;
float: left;

}


.contact img{
width:30px;
height: 30px;
margin:0;
}
.contact a
  {
    
  color: #4a4a4a;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: all 0.5s;
  font-size:.6em;

  }


.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
  }

.info {
  max-width: 20%;
  float:left;
}

 

}

